// bg color for navigation panel
$bgColor: #002573;

//bg color for tables
$bgColorTable: #4E7AC7;

//color for text link
$colorLink: white;

//color for hover link
$hoverLink: #b0b185;

//error message bg color
$bgError: #f2dede;

//success message bg color
$bgSuccess: #dff0d8;

//message color text
$textColor: #333;

//button color in sign up login
$btnColor: #16193B;

//vote symbol color
$voteSymbol: #606060;

//post background color
$bgPost: #fff;
$postBorderColor: #F2F2F2;

$offlineStatusColor: red;

$onlineStatusColor: green;

$colorGradientStop1: #0a1d69;
$colorGradientStop2: #3e5277;

$logInTextColor: black;
$logInBackColor: #ADD3F7;

$tableBackColor: white;

$mainPageBackgroundColor: #e6eff2;

$closeIconColor: black;

$buttonSpaceColor: #0e4b80;

$tableHeadBoxShadow: #999;
$tableHeadTextColor: #fff;
$tableHeadTextShadow: #000;

$postTitleColor: white;